body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: rgb(48, 48, 48);
}

#cHeader {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    box-shadow: 5px 5px 10px lightgray;
    gap: 10px;
}

.logo {
    width: 150px;
    margin-right: 50px;
}

.searchBoxContainer{
    width: 32vw;
    display: flex;
}

.searchBoxContainer input[type=text] {
    width: 30vw;
    height: 40px;
    border: 0px;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 10px 0px 0px 10px;
}

.searchBoxContainer input[type=text]::placeholder {
    padding: 20px;
    color: lightgray;
}

.searchBoxContainer input[type=text]:focus {
    outline: none;
    border: 0px solid #ccc;
}

.iconSearch {
    width: 17px;
    background-color: rgb(198, 202, 221);
    align-self: center;
    padding: 13px 20px 13px 20px;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 10px rgb(211, 211, 211);
}

.iconSearch:hover {
    animation-name: fade;
    animation-duration: 0.5s;
    background-color: rgb(145, 151, 179);
    cursor: pointer; 
}

.iconSearch:not(:hover) {
    animation-name: fadeOut;
    animation-duration: 0.5s;
}

@keyframes fade {
    from { background-color: rgb(198, 202, 221); }
    to { background-color: rgb(145, 151, 179); }
}

@keyframes fadeOut {
    to { background-color: rgb(198, 202, 221); }
    from { background-color: rgb(145, 151, 179); }
}

#iconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;
    width: 90px;
    overflow: hidden;
    cursor: pointer;
}

#iconContainer:nth-child(3) {
    margin-left: 50px;
}

#iconContainer:hover {
    box-shadow: 0px 0px 40px lightgray;
    animation-name: iconContainer;
    animation-duration: 0.5s;
}

@keyframes iconContainer {
    from { box-shadow: 0px 0px 0px lightgray; }
    to { box-shadow: 0px 0px 40px lightgray; }
}

.icon {
    width: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.verticalBreak {
    border-left: 1px solid lightgray;
    height: 60%;
}

#banerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.baner {
    width: 85vw;
    height: 300px;
    background-color: gray;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 5px 5px 10px lightgray;
}

#banerElementContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.banerElement {
    width: 25vw;
    height: 50px;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    line-height: 50px;
    font-size: 15px;
    color: rgb(48, 48, 48);
    margin: 0px 5px 0px 5px;
    overflow: hidden;
}

.banerElement:hover {
    cursor: pointer;
    animation-name: banerElement;
    animation-duration: 0.3s;
    box-shadow: 0px 5px 10px lightgray;
}

@keyframes banerElement {
    from { box-shadow: 0px 0px 0px lightgray; }
    to { 
        box-shadow: 0px 5px 10px lightgray;
    } 
}

hr {
    width: 60vw;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid;
    border-color: lightgray;
}

#boxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw
}

.boxStyle {
    width: 20vw;
    height: 50vh;
    box-shadow: 0px 0px 40px rgb(231, 231, 231);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.boxElement {
    width: 15vw;
    height: auto;
    text-align: center;
}

.boxElement img {
    width: 20vh;
    height: auto;
    margin: 5%;
}

.boxElement span, h3{
    text-align: center;
}

.recommendedElement {
    width: 61vw;
    height: 50vh;
    box-shadow: 0px 0px 40px rgb(231, 231, 231);
    border-radius: 20px;
}

.discount {
    background-color: rgb(100, 100, 231);
    width: 15vw;
    height: 5vh;
    border-radius: 10px;
    margin-top: 35px;
    line-height: 5vh;
    text-align: center;
    color: white;
    cursor: pointer;
}

.discount:hover {
    background-color: rgb(69, 69, 196);
    box-shadow: 0px 0px 10px rgb(99, 99, 99);
    animation: discountHover;
    animation-duration: 0.3s;
}

@keyframes discountHover {
    from { 
        background-color: rgb(100, 100, 231); 
        box-shadow: 0px 0px 0px rgb(99, 99, 99);
    }
    to { 
        background-color: rgb(69, 69, 196);
        box-shadow: 0px 0px 10px rgb(99, 99, 99);
    }
}

#iconContainer a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    width: 25px;
    text-align: center;
    text-decoration: none;
}